DJANGO_SECRET_KEY=change-this-secret
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=sitbuk.com,www.sitbuk.com,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=https://sitbuk.com,https://www.sitbuk.com
DJANGO_SITE_URL=https://sitbuk.com
DJANGO_SITE_DEFAULT_IMAGE=/static/landing/images/home_story_sitbuk.png
DJANGO_SERVE_STATIC=1
DJANGO_SERVE_MEDIA=1
DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_SESSION_COOKIE_SECURE=1
DJANGO_CSRF_COOKIE_SECURE=1
